body {
  margin: 0;
  padding: 0;
  font-family:
    Helvetica Neue,
    Helvetica,
    Arial,
    Hiragino Kaku Gothic Pro,
    Meiryo,
    MS Gothic,
    sans-serif;
  background-color: #333333;
}

#app {
  width: 100%;
  min-height: 100vh;
  padding: 0;
  display: flex;
  justify-content: center;
  color: #fff;
}

a {
  color: #ff0;
}
